.carousel-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /* background-position: center bottom; */
}
/* .carousel-inner {
  height: 400px;
} */
.ocean {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}