.carousel-inner img {
  /* width: 100%; */
  height: 400px;
  /* object-fit: cover; */
  background-position: center bottom;
}
.card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.carousel-inner {
  height: 400px;
}